* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(120deg, grey, white);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.texted {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    font-size: 18px;
}

h3 {
    margin: 10px 0;
}

.task {
    width: 100%;
    background: 255,255,200,0;
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;

}

.task  i {
    float: right;
    margin-left: 20px;
    cursor: pointer;

}

.comp .task {
    background: rgba(0,0,0,5);
    color: #fff;
}

.nocomp .task {
    background: rgb(152, 182, 167);
}